#PyMAPDL dependencies
git+https://github.com/ansys/pymapdl@main
numpy==1.25.1
nest-asyncio==1.5.7
pandas==2.0.3
plotly==5.15.0
pythreejs==2.4.2
pyvista==0.40.1
vtk==9.2.6

# Documentation dependencies
Sphinx==7.1.1
numpydoc==1.5.0
ansys-sphinx-theme==0.10.0
sphinx-copybutton==0.5.2
jupyter_sphinx==0.4.0
jupyterlab>=3.2.8
sphinxemoji==0.2.0
sphinx-gallery==0.13.0
sphinx-autobuild==2021.3.14
sphinx-autodoc-typehints==1.24.0
sphinx-notfound-page==0.8.3
panel==1.2.1
pypandoc==1.11
